@charset "UTF-8";

body {
	font-family: source-sans-pro;
	background-color: #ffffff;
	margin: 0;
	font-style: normal;
	font-weight: bold;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1280px;
	background-color: #ffffff;
}

.home {
	color: black;
	width: 2%;
	float: left;
	margin-top: 15px;
	margin-left: 60px;
	letter-spacing: 2px;
	text-decoration: none;
}

header {
list-style: none;
	float: right;
	text-decoration: none;
}

nav {
	display: block;
	float: right;
	width: 100%;
	text-align: right;
	margin-right: 80px;
}

header nav ul {
	list-style: none;
	float: right;
	text-align: left;
	text-decoration: none;
}

nav ul li {
	float: left;
	color: black;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
}

ul li a {
	color: black;
	text-decoration: none;
}

ul li:hover a {
	color: orange;
}

.main {
	color: #000000;
	margin: auto;
	text-align: center;
  display: block;
  }

h1 {
color:black;
font-size: 32px;
display:block;
text-align:center;
padding-top: 80px;
text-decoration: none;
}

h2 {
font-size:15px;
display:block;
color:grey;
text-align: center;
line-height: 10%;
padding-bottom: 20px;
text-decoration: none;
}

img {
 display: block;
 margin-left: auto;
margin-right: auto;
 width: 70%;
}

.icons{
   margin-left: auto;
   margin-right: auto;
   padding-top: 20px;
   text-align: center;
}

.fa {
  padding: 8px;
  font-size: 12px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-google {
  background: black;
  color: white;
}

project {
	background-color: #FFFFFF;
	padding-bottom: 20px;
	width: 100%;
	height: 100%;
}
.project_column {
	width: 50%;
	text-align: center;
	padding-top: 10px;
	float: left;
}
project .project_column {
	text-align: center;
}

project .project_column p {
	background-color: #FFFFFF;
}

.about {
	padding-left: 20px;
	padding-right:20px;
	margin: 40px;
	text-align: left;

}

	input[type=text], select, textarea {
	    width: 50%;
	    padding: 30px;
	    border: 1px solid orange;
	    border-radius: 80px;
	    box-sizing: 400px;
			margin-top: 6px;
			margin-left: 20px;
			margin-right: 20px;
	    margin-bottom: 16px;
	    resize: vertical
	}

	input[type=submit] {
	    background-color: orange;
	    color: green;
	    padding: 12px 20px;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
			display: block;
			text-align: center;
			margin:auto;
	}

	input[type=submit]:hover {
	    background-color: #orange;
	}

	.container {
		margin:auto;
		text-align: center;
	    border-radius: 5px;
	    background-color: white
	    padding: 20px;
	}
